body, html {
    margin: 0;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.cyanText { color: #00a5e3; }


/**
 * Header
**/

.navbar {
    position: absolute;
    width: 100%;
    z-index: 100;
    padding: 15px 25px;
}
img {
    height: 20px;
    margin: 15px;
}


/**
 * Steps
**/

.step {
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}


/**
 * Step 1
**/

.step1 {
    background: #000 url(./resources/bgBanner_Waves.png) no-repeat top center;
    background-size: cover;
    height: auto;
    min-height: 400px;
}
.banner {
    margin: 0 auto;
    height: 100%;
    padding: 30px;
    padding-top: 60px;
    clear: both;
    background: url(./resources/logoMix_OnDark.png) no-repeat center right;
    background-size: 400px;
}
.bannerText {
    color: #fff;
    top: 25%;
    max-width: 500px;
}
.step1 p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;
    padding: 0.5em 0;
}

@media screen and (min-width: 1000px) {
    .bannerText {
        max-width: 600px;
    }
}

@media screen and (min-width: 1200px) {
    .bannerText {
        max-width: 800px;
    }
}
@media screen and (min-width: 1400px) {
    .bannerText {
        max-width: 1000px;
    }
}
@media screen and (max-width: 890px) {
    .banner {
        background-size: 300px;
    }
}
@media screen and (max-width: 767px) {
    .step1 {
        min-height: 650px;
        text-align: center;
    }
    .banner {
        min-height: 650px;
        background-size: 325px;
        background-position: 50% 85%;
    }
    .bannerText {
        max-width: 100%;
    }
    .nav {
        text-align: center;
    }
}


/**
 * Step 2
**/

.step2 {
    background: #29B4C9 url(./resources/bgImage_Phone.png) no-repeat 8% 60px;
    background-size: 25%;
    background-position: 10% 60px;
    color: #FFFFFF;
    height: auto;
    min-height: 400px;
    padding-top: 50px;
}

.step2 p {
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5em;
}

@media screen and (max-width: 998px) {
    .step2 {
        background-position: 10% 60px;
        background-size: 30%;
    }
}
@media screen and (max-width: 767px) {
    .step2 {
        background-position: -10% 60px;
        background-size: 35%;
    }
}
@media screen and (max-width: 550px) {
    .step2 {
        background-position: -100px 60px;
        background-size: 250px;
    }
}
@media only screen and (max-width: 480px) {
    .step2 {
        background-position: -135px 30px;
        background-size: 65%;
    }
}


/**
 * Step 3
**/

.step3 {
    background: #7cc11e url(./resources/Raspi_Iso_Blue.png) no-repeat 8% 60px;
    background-size: 50%;
    background-position: 95% 60px;
    color: #FFFFFF;
    height: auto;
    min-height: 400px;
    padding-top: 50px;
    padding-left: 30px;
}

.step3 p {
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5em;
}

@media screen and (max-width: 998px) {
    .step3 {
        background-position: 110% 80px;
        background-size: 60%;
    }
}
@media screen and (max-width: 767px) {
    .step3 {
        background-position: 130% 180px;
        background-size: 65%;
    }
}
@media screen and (max-width: 550px) {
    .step3 {
        background-position: 240px 140px;
        background-size: 100%;
    }
}
@media only screen and (max-width: 480px) {
    .step3 {
        background-position: 220px 200px;
        background-size: 100%;
    }
}


/**
 * Steps 4
**/

.step4 {
    background: #00a5e3 url(./resources/bgBanner_Web.png) no-repeat bottom center;
    padding-top: 80px;
    text-align: center;
    min-height: 400px;
    color: #FFFFFF;
    overflow: hidden;
}

#slack-invitation-iframe {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

iframe {
    width: 500px;
    border: 20px;
    overflow: hidden;
}

.icon-slack {
    position: absolute;
    left: -50px;
    top: -50px;
    width: 300px;
    opacity: 0.8;
    height: auto;
}

@media screen and (max-width: 998px) {
    iframe {width: 400px;}
    .icon-slack {
        width: 200px;
    }
}

@media screen and (max-width: 550px) {
    iframe {width: 300px;}
    .step4 {
        padding-top: 180px;
        padding-bottom: 100px;
    }
}


/**
 * Steps 5
**/

.step5 {
    text-align: center;
    padding: 50px 20px;
}
.step5 img {
    border-radius: 50%;
    margin-bottom: 1.5em;
    width: 120px;
    height: auto;
}
.step5 h3 {
    color: #034d74;
    font-size: 1.35em;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0px;
}
.step5 p {
    color: #777;
    font-weight: 300;
    line-height: 1.5em;
    padding: 8px 0;
}



/**
 * Titles
**/

.column {
    padding: 10px 20px;
}

h1 {
    font-size: 28px;
    font-weight: 400;
}


/**
 * Buttons
**/

.btnSecondaryWhite {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 20px;
    transition: all 0.35s ease-in-out;
}
.btnSecondaryWhite:hover {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #000000;
}
